_('block page') (

    _('default') (function() {
        return [
            '<!DOCTYPE html>',
            applyNext()
        ]
    }),

    _('tag') ('html'),

    _('bem') (false),

    _('elem head') (

        _('tag') ('head'),

        _('bem') (false)

    ),

    _('elem body') (

        _('tag') ('body')

    )

);